@{
   
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var result = ViewData["UserAccount"] as OutgoingAccountManagment;
    var User = ViewData["UserId"] as int?;
    ViewData["Title"] = $"Editing {result.Name}";
    var ProjectId = ViewData["ProjectId"] as int?;
    var UserRights = ViewData["UserRight"] as UserRights;
}
 
   
<div class="main-content" id="main-text" style="height: 94vh;">
    <div class="sidebar-content"> 
        <div class="row" style="margin:0px;">
            <div class="row" style="padding:50px;">
                    <div class="col-md-6">
                        <input id="Email" />
                    </div>
                    <div class="col-md-6">
                        <input id="Password" />
                    </div>
                </div>
                <div class="row" style="padding:50px;">
                    <div class="col-md-4">
                        <input id="FirstName" />
                    </div>
                    <div class="col-md-4">
                        <input id="MiddleName" />

                    </div>
                    <div class="col-md-4">
                        <input id="LastName" />
                    </div>
                </div>

            </div>
           
            <div class="row ">
                <div class="content-wrapper">
                    <div class="col-md-6">
                        <div class="row innerRow">
                            <div>
                                <label for="WorkItemUserOption" style="padding:2%; min-width:303px;"> Add/Edit Work Items</label>
                                <input id="WorkItemUserOption" type="checkbox" />
                            </div>
                        </div>
                        <div class="row innerRow">
                            <div>
                                <label for="ChatUserChannels" style="padding:2%; min-width:303px;">Create Chat Channels</label>
                                <input id="ChatUserChannels" type="checkbox" />
                            </div>
                        </div>
                        <div class="row innerRow">
                            <div>
                                <label for="EditUserRightsUser" style="padding:2%; min-width:303px;">Manage other user rights</label>
                                <input id="EditUserRightsUser" type="checkbox" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row innerRow">
                            <div>
                                <label for="IterationUserOptions" style="padding:2%; min-width:303px;"> Manage Project Iterations</label>
                                <input id="IterationUserOptions" type="checkbox" />
                            </div>
                        </div>
                        <div class="row innerRow">
                            <div>
                                <label for="ScheduleUserManagement" style="padding:2%; min-width:303px;">Manage user work days</label>
                                <input id="ScheduleUserManagement" type="checkbox" />
                            </div>
                        </div>
                        <div class="row innerRow">
                            <div>
                                <label for="ViewWorkUserItems" style="padding: 2%; min-width:303px;">View other people work items</label>
                                <input id="ViewWorkUserItems" type="checkbox" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <button href="#"   id="SaveChanges" onclick="SaveChanges()" style="width: 100%;"><span class="glyphicon glyphicon-file" ></span> Save Changes</button>
                </div>
        </div>
        
        
     </div>
</div>
 
 
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
var UserId = @User;
var projectsRaw = '@result.Projects';
var cEmail ='@result.Email';
var cFName ='@result.FirstName';
var cLastName =  '@result.LastName';
var projectId = @ProjectId;
var rights;

var workItemRule = @UserRights.WorkItemRule;
var viewWorkItem = @UserRights.ViewOtherPeoplesWork;
var scheduleItem = @UserRights.ManageUserdays;
var chatRule = @UserRights.ChatChannelsRule;
var iterationRule = @UserRights.ManageIterations;
var editUserRights = @UserRights.UpdateUserRights;
 
</script>
 <script src="~/js/EditUserAccount.js"></script>
