@{

    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = $"Add New User";
    var Project = ViewData["Project"] as Projects;
    var ProjectMembers = ViewData["ProjectMembers"] as List<BindingUserAccount>;
    var ProjectId = ViewData["ProjectId"] as int?;
    var ProjectInitials = ViewData["Initials"] as string;
    var CreatedCount = ViewData["WorkItemsCreated"] as int?;
    var NewCount = ViewData["WorkItemsNew"] as int?;
    var ActiveCount = ViewData["WorkItemsActive"] as int?;
    var TestingCount = ViewData["WorkItemsTesting"] as int?;
    var CompleatedCount = ViewData["WorkItemsCompleated"] as int?;
}
<style>
    object[type="image/svg+xml"] {
        vertical-align: middle;
        display: inline-block;
    }

    .innerRow {
        padding: 5%;
    }

    .circle {
        display: inline-flex;
        border-radius: 50%;
        background-color: #1c86c8;
    }

        .circle a {
            width: 50px;
            height: 50px;
            padding-top: 31%;
            padding-left: 23%;
            text-decoration: none;
            color: white;
        }

    .Thumbwrapper {
        border-radius: 3%;
        background-color: #1c86c8;
    }

    .e-icons {
        color: #1c86c8;
        font-size: 26px;
    }

    .e-workitem:before {
        content: '\e30d';
    }

    .e-upload:before {
        content: '\e725';
    }

    .e-font:before {
        content: '\e34c';
    }
    .e-card{
        height: 515px;
        max-height: 515px;
    }
</style>
<link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">

<!-- end of sidebar element -->
<!-- main-content declaration -->
 
        <div class="row  card-layout">
            <div class="col-md-12">
                <!-- Basic Card Layout  -->
                <div tabindex="0" class="e-card" id="basic_card" style="height: 200px;">
                    <div class="e-card-header">

                    </div>
                    <div class="e-card-content">
                        <div class="row" style="height:87px">
                            <div class="col-md-1">
                                <div class="Thumbwrapper">
                                    <p style="color:white;font-size:48px;text-align:center;">@ProjectInitials</p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3 style="font-size:48px; margin-top:2px;"> @Project.ProjectName</h3>
                            </div>
                            <div class="col-md-3">
                                <button type="button" id="Persons" class="btn btn-primary" style="margin-top:2px;" onclick="CallUrl('/Dashboard/ManageAccounts?id=@ProjectId')">Manage members</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row  card-layout">
            <div class="col-md-4">
                <!-- Basic Card Layout  -->
                <div tabindex="0" class="e-card" id="basic_card">
                    <div class="e-card-header">

                        <h3 class="center">About the Project</h3>

                    </div>
                    <div class="e-card-content">
                        <div class="row innerRow">
                            <h2>Summary</h2>
                        </div>
                        <hr />

                        <div class="row innerRow">
                            <p style=" word-break: break-word; word-wrap: break-word;"> @Project.ProjectDescription </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <!-- Basic Card Layout  -->
                <div tabindex="0" class="e-card" id="basic_card">
                    <div class="e-card-header">

                        <h3 class="center">Project Stats</h3>

                    </div>
                    <div class="e-card-content">
                        <div class="row innerRow">
                            <p>Boards</p>
                        </div>
                        <hr />
                        <div class="row innerRow">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="e-icons e-workitem"></span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            @CreatedCount
                                        </div>
                                        <div class="row">
                                            Work items created
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="e-icons e-workitem"></span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            @CompleatedCount
                                        </div>
                                        <div class="row">
                                            Work items compleated
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row innerRow">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="e-icons e-workitem"></span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            @ActiveCount
                                        </div>
                                        <div class="row">
                                            Work items active
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="e-icons e-workitem"></span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            @TestingCount
                                        </div>
                                        <div class="row">
                                            Work items testing
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row innerRow">

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <!-- Basic Card Layout  -->
                <div tabindex="0" class="e-card" id="basic_card">
                    <div class="e-card-header">

                        <h3 class="center">Project Members</h3>

                    </div>
                    <div class="e-card-content">

                        <hr />
                        <div class="row innerRow">
                            @{
                                foreach (var member in ProjectMembers)
                                {
                                    <div class="circle">
                                        <a href="#">@member.AliasName</a>
                                    </div>
                                }
                            }
                        </div>
                        <hr />
                        <div class="row innerRow">
                            <p>Project members count: @ProjectMembers.Count</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

 
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>

$(document).ready(function() {
    var Persons = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
    Persons.appendTo('#Persons');

      var id = @ProjectId;

          var dto = {
            "id": id,

        }
        console.log(dto);
        $.ajax({
            type: 'POST',
            url: '/Dashboard/GetCommitChartBindingData',
            data: JSON.stringify(dto),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                InitChart(response);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
});

function InitChart(data)
{
    console.log(data);
    var bindingSeries = [];
    data.forEach(function(element) {
        console.log(element);
        var bindingItem =
        {
            "x": element.DateOfCommit,
            "y": element.dayCount
        }
        bindingSeries.push(bindingItem);
    });

     var chart = new ej.charts.Chart({
        //Initializing Primary X Axis
        primaryXAxis: {
            valueType: 'DateTime',
            labelFormat: 'y',
            edgeLabelPlacement: 'Shift',
            majorGridLines: { width: 0 }
        },
        //Initializing Primary X Axis
        primaryYAxis: {
            labelFormat: '{value}%',
            rangePadding: 'None',
            minimum: 0,
            maximum: 100,
            interval: 20,
            lineStyle: { width: 0 },
            majorTickLines: { width: 0 },
            minorTickLines: { width: 0 }
        },
        chartArea: {
            border: {
                width: 0
            }
        },
        //Initializing Chart Series
        series: [
            {
                type: 'Line',
                dataSource:  bindingSeries,
                xName: 'x', width: 2, marker: {
                    visible: true,
                    width: 10,
                    height: 10
                },
                yName: 'y', name: 'Commits Per day',
            }
        ],
        //Initializing Chart Title
        title: 'Commit tracker',
        //Initializing Tooltip
        tooltip: {
            enable: true
        },
        width: ej.base.Browser.isDevice ? '100%' : '60%',

    });
  //  chart.appendTo('#line-container');
    }


    function CallUrl(url) {
        window.location.href = url;
    }
</script>