@{
    var id = ViewData["Id"] as string;
    var ValueAreas = new List<string>{
        "Item1",
        "Item2",
        "Item3"
    };
    var ComponentId = ViewData["ComponentId"] as string;
    var QuestionId = ViewData["QuestionId"] as string;
    var renderId =    ViewData["ComponentId"] as string;
    var DataSource = ViewData["DataSource"] as  Platform.Models.BindingDynamicSource;
 }

@if(@DataSource != null)
{
//id = ComponentId;
@:<script>
    @: RenderComponent();

    @:function RenderComponent()
    @:{
        @: var bindingData = "<select class=\"form-control-sm form-control\" id=\"@id\">";
        @foreach (var source in DataSource.ComponentSource)
        {
            @: bindingData += "<option value=\"@source.Key\">@source.Value</option>";
        }
        @: bindingData += "</select>";
  
        @: $("#ContainerQuestion_@renderId").html("@DataSource.QuestionValue");
       @: UpdateComponent({
       @:     Question: "@DataSource.QuestionValue",
       @:     bindingData : bindingData,
       @:     id: "@id"
       @: });
    @:}
@:</script>
 
}
else
{
<div class="row" style=" margin-left:5%; margin-right:5%;" id="ContainerQuestion_@id">
    <p>Example Question Here?</p>
</div>
<div class="row" style=" margin-left:5%; margin-right:5%;" id="Container_@id">
    <select class="form-control-sm form-control" id="@id">
        @foreach(var va in ValueAreas)
        {
            <option value="@va">@va</option>
        }
    </select>
</div>
}
 

<script>

    var select;
    select = new ej.dropdowns.DropDownList({

        // set the placeholder to DropDownList input element
        placeholder: 'Example label',
        // set the height of the popup element
        popupHeight: '200px',
        index: 0,
        
    });
    select.appendTo('#@id');
</script>