@{
    ViewData["Title"] = "New Work Item";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var result = ViewData["Projects"] as List<Projects>;
    var userName =  ViewData["Name"] as string;
    var priorities = ViewData["Priorities"]  as List<WorkItemPriorities>; 
    var areas = ViewData["Areas"] as List<WorkItemAreas>;
    var iterations = ViewData["Iterations"] as List<WorkItemIterations>;
    var severities = ViewData["Severities"] as List<WorkItemSeverities>;
    var activities = ViewData["Activities"] as List<WorkItemActivity>;
    var reasons = ViewData["Reasons"] as List<WorkItemReasons>;
    var builds =   ViewData["Builds"] as List<Builds>;
    var ValueAreas =  ViewData["ValueAreas"] as List<ValueAreas>;
    var repositoryMembers = ViewData["RepositoryMembers"] as List<UserAccounts>;
    var Risks = ViewData["Risks"] as List<Risks>;
    var projectId = ViewData["ProjectId"] as int?;
    var WorkItemType = ViewData["WorkItemType"] as int?;
    var WorkItemData = ViewData["WorkItemData"] as WorkItem;
    var cState =  @WorkItemData.StateId.HasValue != true ? "0" : @WorkItemData.StateId.Value.ToString();
    var cIteration =  @WorkItemData.Iteration.HasValue != true  ? "0" : @WorkItemData.Iteration.Value.ToString();
    var cArea =  @WorkItemData.AreaId.HasValue != true ? "0" : @WorkItemData.AreaId.Value.ToString();
    var cReason = @WorkItemData.ReasonId.HasValue != true  ? "0" : @WorkItemData.ReasonId.Value.ToString();
    var cPriority =  @WorkItemData.PriorityId.HasValue != true ? "0" : @WorkItemData.PriorityId.Value.ToString(); 
    var cSeverity = @WorkItemData.Severity.HasValue != true  ? "0" : @WorkItemData.Severity.Value.ToString();
    var cActivity =  @WorkItemData.Activity.HasValue != true  ? "0" : @WorkItemData.Activity.Value.ToString();
    var cValueArea = @WorkItemData.ValueAreaId.HasValue != true  ? "0" : @WorkItemData.ValueAreaId.Value.ToString();
    var cRisk = @WorkItemData.RiskId.HasValue != true  ? "0" : @WorkItemData.RiskId.Value.ToString();
    var ReturnPath = ViewData["ReturnPath"] as string;

}
<link href="~/Syncfusion/ej2/material.css" rel="stylesheet" />

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
  <!-- end of sidebar element -->
        <!-- main-content declaration -->
        <div class="main-content" id="main-text" >
            <div class="sidebar-content">
                <div class="container-fluid">
<div class="row RowContainer">
    <div class="col-md-12">
        <div class="main-card mb-1 card">
            <div class="card-body">
                <div class="col-md-2">
                    <h2>Work Items:</h2>
                </div>
                <div class="col-md-9">
                    <button id="BackBtn" onclick="GoBack()"><i class="fas fa-reply"></i>Back</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="main-card mb-1 card">
            <div class="card-body">
               
                <p>New {NameHere} <i class="fas fa-exclamation-circle"></i> Field 'Title' cannot be empty.</p>
                <div class="row">
                    <div class=" form-group" style="width:100%"><label for="Title" class="">Title</label><input name="Title" id="Title" placeholder="Title" value="@WorkItemData.Title" style="width:100%" class="form-control-sm"></div>
                </div>
                <div  class="row">
                     <input type="text" id='ProjectUsers' />

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row RowContainer">
    <div class="col-md-12">
        <div class="main-card mb-1 card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">

                        <div class="row">
                            <div class="col-md-4">
                                <p>State:</p>
                            </div>
                            <div class="col-md-8">
                            

                                   <select class="form-control-sm form-control" id="ItemState" value="@WorkItemData.StateId">
                                    @foreach(var state in activities)
                                    {
                                       
                                            <option value="@state.Id">@state.ActivityName</option>
 
                                                             
                                    }
                                    </select>
                                   
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <p>Reason:</p>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control-sm form-control" id="ItemReason" value="@WorkItemData.Reason">
                                    @foreach(var reason in reasons)
                                    {
                                        
                                            <option value="@reason.Id">@reason.ReasonName</option>

                                     }
                                </select>
                            </div>
                        </div>
                        
                    </div>        
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <p>Area:</p>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control-sm form-control" id="ItemArea" value="@WorkItemData.AreaId">
                                    @foreach(var area in areas)
                                    {
                                        <option value="@area.Id">@area.AreaName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Iteration:</p>
                            </div>
                            <div class="col-md-8">
                                </select><select class="form-control-sm form-control" id="ItemIteration" value="@WorkItemData.Iteration">
                                    @foreach(var iteration in iterations)
                                    {
                                       
                                            <option value="@iteration.Id">@iteration.IterationName</option>

                                     }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-1 card">
            <div class="card-body">
                <div id="element"></div>

                <div id="tab1_content" style="display: none">
                        <div class="row RowContainer">
                                <div class="col-md-6" style="padding-right:50px;">
                                    @if(WorkItemType == 1)
                                    {
                                        <div class="row">
                                            <div class="position-relative form-group" style="width:100%;" ><label for="RepoSteps"  class="">Repo Steps</label><div name="RepoSteps" id="RepoSteps"   class="form-control">@Html.Raw(WorkItemData.RepoSteps)</div></div>
                                        </div>
                                  
                                        <div class="row">
                                            <div class="position-relative form-group" style="width:100%;"><label for="SystemInfo" class="">System Info</label><div name="SystemInfo" id="SystemInfo"  class="form-control">@Html.Raw(WorkItemData.SystemInfo)</div></div>
                                        </div>
                                    }
                                    @if(WorkItemType == 2)
                                    {
                                        <div class="row">
                                            <div class="position-relative form-group" style="width:100%;"><label for="Description" class="">Description</label><div name="Description"  id="Description" class="form-control">@Html.Raw(WorkItemData.Description)</div></div>
                                        </div>
                                        <div class="row">
                                            <div class="position-relative form-group" style="width:100%;"><label for="AcceptanceCriteria" class="">Acceptance Criteria</label><div name="AcceptanceCriteria" id="AcceptanceCriteria" class="form-control">@Html.Raw(WorkItemData.AcceptanceCriteria)</div></div>
                                        </div>
                                      
                                    }
                                    @if(WorkItemType == 3)
                                    {
                                        <div class="row">
                                            <div class="position-relative form-group" style="width:100%;"><label for="Description" class="">Description</label><div name="Description" id="Description" class="form-control">@Html.Raw(WorkItemData.Description)</div></div>
                                        </div>
                                      
                                      
                                    }
                                    @if(WorkItemType == 7)
                                    {
                                        <div class="row">
                                            <div class="position-relative form-group" style="width:100%;"><label for="Description" class="">Description</label><div name="Description"   id="Description" class="form-control">@Html.Raw(WorkItemData.Description)</div></div>
                                        </div>
                                        <div class="row">
                                            <div class="position-relative form-group" style="width:100%;"><label for="AcceptanceCriteria" class="">Acceptance Criteria</label><div name="AcceptanceCriteria" id="AcceptanceCriteria" class="form-control">@Html.Raw(WorkItemData.AcceptanceCriteria)</div></div>
                                        </div>
                                      
                                    }
                                    @if(WorkItemType == 5)
                                    {
                                        <div class="row">
                                            <div class="position-relative form-group" style="width:100%;"><label for="Description" class="">Description</label><div name="Description" id="Description"  class="form-control">@Html.Raw(WorkItemData.Description)</div></div>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-6" style="padding-left:3px;">
                                    <div class="row">
                                        <div class="col-md-6" style="padding:20px;">
                                            <div class="row">
                                                <h4>Planning</h4>
                                                <hr/>
                                            </div>
                                         
                                            @if(WorkItemType == 1)
                                            {
                                                <div class="row">
                                                    <p>Resolved Reason</p>
                                                    <p><i class="fas fa-loc k"></i> @WorkItemData.ResolvedReason </p>
                                                </div>
                                                <div class="row">
                                                    <p>Priority</p>
                                                    <select class="form-control-sm form-control" id="ItemPriority" value="@WorkItemData.PriorityId">
                                                        @foreach(var priority in priorities)
                                                        {
                                                           
                                                               
                                                                    <option value="@priority.Id"  >@priority.PriorityName</option>

                                                             
                                                             
                                                            
                                                        }
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <p>Severity</p>
                                                    <select class="form-control-sm form-control" id="ItemSeverity" value="@WorkItemData.Severity">
                                                        @foreach(var severity in severities)
                                                        {
                                                            
                                                                    <option value="@severity.Id">@severity.SeverityName</option>
                                                         }
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <p>Activity</p>
                                                    <select class="form-control-sm form-control" id="ItemActivity" Value="@WorkItemData.Activity">
                                                        @foreach(var activity in activities)
                                                        {
                                                             
                                                                <option value="@activity.Id" >@activity.ActivityName</option>
                                                           
                                                       
                                                        }
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <h4>Efford Hours</h4>
                                                    <hr/>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="OriginalEstimate">Original Estimate</label>
                                                        <input name="OriginalEstimate" id="OriginalEstimate" value="@WorkItemData.OriginEstitame" placeholder="OriginalEstimate"  style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="Remaining" >Remaining</label>
                                                        <input name="Remaining" id="ItemRemaining" placeholder="Remaining" value="@WorkItemData.Remaining"  style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="Compleated">Compleated</label>
                                                        <input name="Compleated" id="ItemCompleated" placeholder="Compleated" value="@WorkItemData.Compleated" style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                            }
                                            else if(WorkItemType == 2)
                                            {
                                                <div class="row">
                                                    <h4>Status</h4>
                                                    <hr/>
                                                </div>
                                                <div class="row">
                                                    <p>Start Date</p>
                                                    <div id="container">
                                                        <input id="StartDate" type="text" type="text">
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <p>End Date</p>
                                                    <div id="container">
                                                        <input id="EndDate" type="text" type="text">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                     <h4>Details</h4>
                                                    <hr/>
                                                </div>
                                                <div class="row">
                                                    <p>Priority</p>
                                                    <select class="form-control-sm form-control" id="ItemPriority" value="@WorkItemData.PriorityId">
                                                        @foreach(var priority in priorities)
                                                        {
                                                           
                                                               
                                                                    <option value="@priority.Id"  >@priority.PriorityName</option>
 
                                                             
                                                            
                                                        }
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="Effort" >Effort</label>
                                                        <input name="Effort" id="Effort" value="@WorkItemData.Effort" placeholder="Effort"  style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="BValue" >Business Value</label>
                                                        <input name="BValue" id="BValue" placeholder="Business Value" value="@WorkItemData.BusinessValue"  style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="TimeCriticality" >Time Criticality</label>
                                                        <input name="TimeCriticality" id="TimeCriticality" placeholder="Time Criticality" value="@WorkItemData.TimeCapacity" style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                               <div class="row">
                                                    <p>Value Area</p>
                                                    <select class="form-control-sm form-control" id="ValueArea" value="@WorkItemData.ValueAreaId">
                                                        @foreach(var va in ValueAreas)
                                                        {
                                                             
                                                                <option value="@va.Id">@va.ValueAreaName</option>
                                                             
                                                        }
                                                    </select>
                                                </div>
                                            }
                                            else if(WorkItemType == 5)
                                            {
                                                  <div class="row">
                                                    <p>Priority</p>
                                                    <select class="form-control-sm form-control" id="ItemPriority" value="@WorkItemData.PriorityId">
                                                        @foreach(var priority in priorities)
                                                        {
                                                            
                                                                <option value="@priority.Id">@priority.PriorityName</option>
                                                         
                                                        }
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <p>Risk</p>
                                                    <select class="form-control-sm form-control" id="Risk" value="@WorkItemData.RiskId">
                                                        @foreach(var risk in Risks)
                                                        {
                                                            
                                                                <option value="@risk.Id" >@risk.RiskName</option>
                                                          
                                                        }
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="Effort" >Effort</label>
                                                        <input name="Effort" id="Effort" placeholder="Effort" value="@WorkItemData.Effort" style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="BValue" >Business Value</label>
                                                        <input name="BValue" id="BValue" placeholder="Business Value" value="@WorkItemData.BusinessValue" style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="TimeCriticality" >Time Criticality</label>
                                                        <input name="TimeCriticality" id="TimeCriticality" placeholder="Time Criticality" value="@WorkItemData.TimeCapacity"  style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p>Start Date</p>
                                                    <div id="container">
                                                        <input id="StartDate" type="text"  type="text">
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <p>End Date</p>
                                                    <div id="container">
                                                        <input id="EndDate" type="text"   type="text">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <h4>Classification</h4>
                                                    <hr/>
                                                </div>
                                                 <div class="row">
                                                    <p>Value Area</p>
                                                    <select class="form-control-sm form-control" id="ValueArea" value="@WorkItemData.ValueAreaId">
                                                        @foreach(var va in ValueAreas)
                                                        {
                                                            
                                                                <option value="@va.Id">@va.ValueAreaName</option>
                                                           
                                                        }
                                                    </select>
                                                </div>
                                            }
                                            else if(WorkItemType == 6)
                                            {
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="Rank" >Stack Rank</label>
                                                        <input name="Rank" id="Rank" placeholder="Stack Rank" value="@WorkItemData.StackRank"  style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p>Priority</p>
                                                    <select class="form-control-sm form-control" id="ItemPriority" value="@WorkItemData.PriorityId"  >
                                                        @foreach(var priority in priorities)
                                                        { 
                                                            
                                                                <option value="@priority.Id">@priority.PriorityName</option>
                                                          
                                                        }
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <p>Due Date</p>
                                                    <div id="container" style="width:100%">
                                                        <input id="DueDate" value="@WorkItemData.DueDate" type="text">
                                                    </div>
                                                </div>
                                            }
                                            else if(WorkItemType == 3)
                                            {
                                                <div class="row">
                                                    <p>Priority</p>
                                                    <select class="form-control-sm form-control" id="ItemPriority" value="@WorkItemData.PriorityId">
                                                        @foreach(var priority in priorities)
                                                        {
                                                           
                                                                <option value="@priority.Id">@priority.PriorityName</option>
                                                          }
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <p>Activity</p>
                                                    <select class="form-control-sm form-control" id="ItemActivity" value="@WorkItemData.Activity">
                                                        @foreach(var activity in activities)
                                                        {
                                                          
                                                                <option value="@activity.Id">@activity.ActivityName</option>
                                                        }
                                                    </select>
                                                </div>
                                                  <div class="row">
                                                    <h4>Efford Hours</h4>
                                                    <hr/>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="OriginalEstimate">Original Estimate</label>
                                                        <input name="OriginalEstimate" id="OriginalEstimate" value="@WorkItemData.OriginEstitame" placeholder="OriginalEstimate"  style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="Remaining" >Remaining</label>
                                                        <input name="Remaining" id="ItemRemaining" placeholder="Remaining" value="@WorkItemData.Remaining" style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="Compleated">Compleated</label>
                                                        <input name="Compleated" id="ItemCompleated" placeholder="Compleated" value="@WorkItemData.Compleated" style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <h4>Implementation</h4>
                                                    <hr/>
                                                </div>
                                                <div class="row">
                                                    <p>Integrated in Build</p>
                                                    <select class="form-control-sm form-control" id="ItemResolvedBuild" value="@WorkItemData.IntegratedInBuild" >
                                                        @foreach(var build in builds)
                                                        {
                                                            
                                                                <option value="@build.Id">@build.ReasonName</option>
                                                          }
                                                    </select>
                                                </div>
                                            }
                                            else if(WorkItemType == 7)
                                            {
                                                <div class="row">
                                                    <div class=" form-group" style="width:100%">
                                                        <label for="StoryPoints">Story Points</label>
                                                        <input name="StoryPoints" id="StoryPoints" value="@WorkItemData.StoryPoints" placeholder="Story points"  style="width:100%" class="form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p>Priority</p>
                                                    <select class="form-control-sm form-control" id="ItemPriority" value="@WorkItemData.PriorityId">
                                                        @foreach(var priority in priorities)
                                                        {
                                                             
                                                                <option value="@priority.Id">@priority.PriorityName</option>
                                                         }
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <p>Risk</p>
                                                    <select class="form-control-sm form-control" id="Risk" value="@WorkItemData.RiskId">
                                                        @foreach(var risk in Risks)
                                                        {
                                                           
                                                                <option value="@risk.Id">@risk.RiskName</option>
                                                         }
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <h4>Classification</h4>
                                                    <hr/>
                                                </div>
                                                <div class="row">
                                                    <p>Value Area</p>
                                                    <select class="form-control-sm form-control" id="ValueArea" value="@WorkItemData.ValueAreaId">
                                                        @foreach(var va in ValueAreas)
                                                        {
                                                             
                                                                <option value="@va.Id">@va.ValueAreaName</option>
                                                         }
                                                    </select>
                                                </div>
                                            }
                                        </div>
                                         <div class="col-md-6" style="padding:20px;">
                                             <div class="row">
                                                 <h4>Development</h4>
                                                 <h4/>
                                             </div>
                                             <div class="row">
                                                <a class="mb-2 mr-2 btn-transition btn btn-outline-info" id="associateBuild" ><i class="fas fa-plus"></i> Associate</a>
                                            </div>
                                            <div class="row">
                                                 <h4>Related Work</h4>
                                                 <h4/>
                                                 
                                             </div>
                                           
                                            <div class="row">                                                            
                                                        <!-- Large modal -->
                                                        <button onclick="OpenDiagram()" id="OpenRelationDiagram" ><i class="fas fa-plus"></i> Open relation diagram</button>

                                                        <button type="button"  onclick="OpenModal()" class="btn btn-primary"  id="relationBtn">Add new relation</button>
                                                        <div class="modal bd-example-modal-lg" id="WorItemsGridPanel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">
                                                                    <div id="ModalAdd">
                                                                        <div class="ModalInnerFix">
                                                                            <div class="row">
                                                                                <p>Relation Type</p>
                                                                            </div>
                                                                            <div class="row">
                                                                                                
                                                                                <select class="form-control-sm form-control"  id="WorkItemRelationsGrid">
                                                                                
                                                                                </select>
                                                                            
                                                                            </div>
                                                                            <div class="row">
                                                                                
                                                                                <div class="e-input-group e-float-icon-left">
                                                                                    <span class="e-input-group-icon e-input-picture" onclick="CallItemSelect();"></span>
                                                                                    <div class="e-input-in-wrap">
                                                                                    <input class="e-input" id="workItemInputObj" type="text" placeholder="Upload Picture" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="ModalSelect" hidden>
                                                                        <div class="ModalInnerFix">
                                                                            <h3> Select work item</h3>
                                                                            <div class="row">
                                                                                <div class="control-section">
                                                                                    <div class="content-wrapper">
                                                                                        <div id="Grid"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <button   id="AcceptWItemChange">Add</button>
                                                                                <button   id="CancelAddWItemBtn" onclick="CancelGridGlicked()">Cancel</button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
    
                                                            </div>
                                                        </div>
                                                    </div>
                                            <div class="row" id="listview-defholder" >
                                                <div id="listview-def" tabindex="1" >
                                                    <ul id="RelatedWork" style="list-style-type:none; padding:0px;">
                                                        @foreach (var relation in WorkItemData.AssociatedWrorkItemChildrenWorkItem)
                                                        {
                                                            <li value="@relation.WorkItemChildId">@relation.WorkItemChild.Title</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                             <div class="row">
                                                 <h4>System Info</h4>
                                                 <h4/>
                                             </div>
                                             <div class="row">
                                                <p>Found in Build</p>
                                                <select class="form-control-sm form-control" id="ItemFoundBuild" value="@WorkItemData.FoundInBuild">
                                                    @foreach(var build in builds)
                                                    {
                                                        if(@build.Id == @WorkItemData.FoundInBuild )
                                                        {
                                                            <option value="@build.Id" selected="Selected">@build.ReasonName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@build.Id">@build.ReasonName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                             <div class="row">
                                                <p>Integrated in Build</p>
                                                <select class="form-control-sm form-control" id="ItemResolvedBuild" value="@WorkItemData.IntegratedInBuild">
                                                    @foreach(var build in builds)
                                                    {
                                                        if(@build.Id == @WorkItemData.FoundInBuild )
                                                        {
                                                            <option value="@build.Id" selected="Selected">@build.ReasonName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@build.Id">@build.ReasonName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <div id="tab2_content" style="display: none; min-height:53vh;">
                        <div class="row">
                            <div class="control-section">
                                <div class="content-wrapper">
                                    <div id="chatGrid"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="position-relative form-group" style="width:100%;"><label for="ChatMessageBar" class="">Add a comment</label><div name="ChatMessageBar" id="ChatMessageBar" class="form-control"></div></div>
                        </div>
                        <div class="row">
                            <button  onclick="SendMessage()" id="SendMsgBtn" style="width:100%;"> <i class="fas fa-save"></i>Send</button>
                        </div>

                </div>
                <div id="tab3_content" style="display: none; min-height:53vh;">
                        
                </div>
            </div>
            <div class="row text-center" style="margin-left:40%; margin-right:40%;">
                <button class="mb-2 mr-2 btn-transition btn btn-outline-info" onclick="AddNewWorkItem()" id="AcceptBtn" > <i class="fas fa-save"></i> Save Changes</button>
                <button class="mb-2 mr-2 btn-transition btn btn-outline-info"  onclick="GoBack()" id="CancelBtn"> <i class="fas fa-cancel"></i> Cancel Changes</button>

            </div>
        </div>
       
    </div>
    

</div>
</div>
  </div>
        </div>
        <!-- end of main-content -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <script src="~/Syncfusion/ej2/dist/ej2.min.js"></script>
<script>
   
</script>

<script>

    var chatGrid;

    var BackBtn = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
    BackBtn.appendTo('#BackBtn');
    var acceptWItemChange = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
    acceptWItemChange.appendTo('#AcceptWItemChange');

    var cancelAddWItemBtn = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
    cancelAddWItemBtn.appendTo('#CancelAddWItemBtn');

    var SendMsgBtn = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
    SendMsgBtn.appendTo('#SendMsgBtn');
    //Initialize ListView component
    var listObj = new ej.lists.ListView();


    var AcceptBtn = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
    AcceptBtn.appendTo('#AcceptBtn');
    var CancelBtn = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
    CancelBtn.appendTo('#CancelBtn');
    var associateBuild = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
    associateBuild.appendTo('#associateBuild');
    var relationBtn = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
    relationBtn.appendTo('#relationBtn');
    var OpenRelationDiagram = new ej.buttons.Button({ cssClass: 'e-outline', isPrimary: true });
    OpenRelationDiagram.appendTo('#OpenRelationDiagram');


    //Render initialized ListView component
    listObj.appendTo('#listview-def');

    var assignedUser = @WorkItemData.AssignedAccountNavigation.Id;
    var selectedChildren = [];
    var startDate;
    var endDate;
    var dueDateVal;


    var RepoSteps;
    var SystemInfo;
    var Description;
    var AcceptanceCriteria;
    var ChatMessageBar;

    var ItemState;
    var ItemArea;
    var ItemReason;
    var ItemIteration;
    var ItemPriority;
    var ItemSeverity;
    var ValueArea;
    var ItemActivity;
    var ItemResolvedBuild;
    var Risk;
    var ItemFoundBuild;
    $( document ).ready(function() 
    {

        //Initialize Tab component
        var tabObj = new ej.navigations.Tab({
            selected: tabSelected,
            items: [
                {
                    header: { 'text': 'Work Item Details' },
                    content: '#tab1_content'
                },
                {
                    header: { 'text': 'Discussions' },
                    content: '#tab2_content'
                },
                {
                    header: { 'text': 'Attachments' },
                    content: '#tab3_content'
                }
            ]
        });
        //Render initialized Tab component
        tabObj.appendTo('#element');
        LoadWorkItemRelations();
        var month = new Date().getMonth();
        var fullYear = new Date().getFullYear();
        
        var startDate = new ej.calendars.DatePicker({
            placeholder: 'Choose a date',
            change: StatChange,
            value: new Date(@WorkItemData.StartDate.Value.Year,@WorkItemData.StartDate.Value.Month, @WorkItemData.StartDate.Value.Day)
            });
       
            var dueDate = new ej.calendars.DatePicker({
                placeholder: 'Choose a date',
                change: DueDateChange,
                value: new Date(@WorkItemData.DueDate.Value.Year,@WorkItemData.DueDate.Value.Month, @WorkItemData.DueDate.Value.Day)
            });
        
        var endDate = new ej.calendars.DatePicker({
            placeholder: 'Choose a date',
            change : EndChanged,
            value: new Date(@WorkItemData.EndDate.Value.Year,@WorkItemData.EndDate.Value.Month, @WorkItemData.EndDate.Value.Day)
            });
        startDate.appendTo('#StartDate');
        endDate.appendTo('#EndDate');
        dueDate.appendTo('#DueDate');

        var inputobj = new ej.inputs.TextBox({
            placeholder: 'Enter work Id',
            floatLabelType: 'Auto',
        });
        inputobj.appendTo('#IdFilter');
        var id = @projectId;
        console.log(id);
          var dto = {
            "id": id,
            
        }
        var messagesDto= {
            "ProjectId":id,
            "WorkItemId": @WorkItemData.Id
        }
        console.log(dto);
        $.ajax({
            type: 'POST',
            url: '/Dashboard/GetUserAccounts',
            data: JSON.stringify(dto),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            
            success: function (response) {
                InitiliazeComboBox(response);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

         $.ajax({
            type: 'POST',
            url: '/Backlogs/GetWorkItems',
            data: JSON.stringify(dto),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                InitiliazeGrid(response);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
        $.ajax({
            type: 'POST',
            url: '/Dashboard/GetWorkItemDiscussions',
            data: JSON.stringify(messagesDto),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            
            success: function (response) {
                InitalizeChatDiscussion(response);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
        ItemState = new ej.dropdowns.DropDownList({

            // set the placeholder to DropDownList input element
            placeholder: 'State',
            value:"@cState",
            // set the height of the popup element
            popupHeight: '200px',
           
        });
        ItemState.appendTo('#ItemState');

        ItemIteration = new ej.dropdowns.DropDownList({

            // set the placeholder to DropDownList input element
            placeholder: 'Iteration',
            value: "@cIteration",
            // set the height of the popup element
            popupHeight: '200px',
           
        });
        ItemIteration.appendTo('#ItemIteration');
          ItemArea = new ej.dropdowns.DropDownList({

            // set the placeholder to DropDownList input element
            placeholder: 'Area',
            value:"@cArea",

            // set the height of the popup element
            popupHeight: '200px',
           
        });
        ItemArea.appendTo('#ItemArea');
        ItemReason = new ej.dropdowns.DropDownList({

            // set the placeholder to DropDownList input element
            placeholder: 'Reason',
            value: "@cReason",

            // set the height of the popup element
            popupHeight: '200px',
           
        });
        ItemReason.appendTo('#ItemReason');
        ItemPriority = new ej.dropdowns.DropDownList({

            // set the placeholder to DropDownList input element
            placeholder: 'Priority',
            value: "@cPriority",

            // set the height of the popup element
            popupHeight: '200px',
           
        });
        ItemPriority.appendTo('#ItemPriority');
        ItemSeverity = new ej.dropdowns.DropDownList({

            // set the placeholder to DropDownList input element
            placeholder: 'Severity',
            value:"@cSeverity",

            // set the height of the popup element
            popupHeight: '200px',
           
        });
        ItemSeverity.appendTo('#ItemSeverity');
        ItemActivity = new ej.dropdowns.DropDownList({

            // set the placeholder to DropDownList input element
            placeholder: 'Activity',
            value:"@cActivity",

            // set the height of the popup element
            popupHeight: '200px',
           
        });
        ItemActivity.appendTo('#ItemActivity');
        ValueArea = new ej.dropdowns.DropDownList({

            // set the placeholder to DropDownList input element
            placeholder: 'Value Area',
            value: "@cValueArea",
             // set the height of the popup element
            popupHeight: '200px',
           
        });
        ValueArea.appendTo('#ValueArea');
        ItemResolvedBuild = new ej.dropdowns.DropDownList({

            // set the placeholder to DropDownList input element
            placeholder: 'Resolved in build',
            // set the height of the popup element
            popupHeight: '200px',
           
        });
        ItemResolvedBuild.appendTo('#ItemResolvedBuild');
        var Risk = new ej.dropdowns.DropDownList({

            // set the placeholder to DropDownList input element
            placeholder: 'Risk',
            value: "@cRisk",  

            // set the height of the popup element
            popupHeight: '200px',
           
        });
        Risk.appendTo('#Risk');
        ItemFoundBuild = new ej.dropdowns.DropDownList({

            // set the placeholder to DropDownList input element
            placeholder: 'Found in build',
            // set the height of the popup element
            popupHeight: '200px',
           
        });
        ItemFoundBuild.appendTo('#ItemFoundBuild');


        RepoSteps = new Quill('#RepoSteps', {
            theme: 'snow'
        });
        SystemInfo = new Quill('#SystemInfo', {
            theme: 'snow'
        });
        Description = new Quill('#Description', {
            theme: 'snow'
        });
        AcceptanceCriteria = new Quill('#AcceptanceCriteria', {
            theme: 'snow'
        });
        ChatMessageBar = new Quill('#ChatMessageBar', {
            theme: 'snow'
        });
        
    });
    function StatChange(args){
        console.log(args);
        startDate = args.value;
    }

    function EndChanged(args){
        console.log(args);
        endDate = args.value;
    }
    function DueDateChange(args){
        console.log(args);
        dueDateVal = args.value;
    }

    function LoadWorkItemRelations()
    {
         $.ajax({
            type: 'GET',
            url: '/Dashboard/GetAllWorkItemRelations?workItemId=@WorkItemData.Id&&projectId=@projectId',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                GenerateUmlData(response.umlData);
                response.workItems.forEach(function(element) {
                    console.log(element.workItem.id);
                    AddAssocuatedItem(element.workItem.id);

                });

            //    grid.appendTo('#WorkItemsGrid');
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
    }

    function InitiliazeGrid(data )
    {
        console.log(data);
        ej.grids.Grid.Inject(ej.grids.Filter);
        ej.grids.Grid.Inject(ej.grids.Edit, ej.grids.Toolbar);

       console.log(data);
        var grid = new ej.grids.Grid({
            dataSource: data,
            allowSorting: true,
            filterSettings: { type:'Menu' },
            allowFiltering: true,
            recordDoubleClick : WorkItemSelected,
            columns: [
                { field: 'id', headerText: 'Id', width: 125 },
                { field: 'title', headerText: 'Title', width: 125 },
                { field: 'description', headerText: 'Description', width: 180 },
                { field: 'assignedAccountNavigation.Email', headerText: 'AssignedTo', width: 110 },

            ]
        
        });
        
        grid.appendTo('#Grid');
    }
    function WorkItemSelected(args){
        console.log(args);
     
       AddAssocuatedItem(args.rowData.id);
    }

    function CallItemSelect()
    {
        $("#ModalAdd").hide();
        $("#ModalSelect").show();
        
    }

    function CancelGridGlicked()
    {
        $("#ModalAdd").show();
        $("#ModalSelect").hide();
    }

    function InitalizeChatDiscussion(data)
    {
        chatGrid = new ej.grids.Grid({
            dataSource: data,
            height: 335,
            editSettings: {allowAdding: true, mode: 'Normal', newRowPosition: 'Bottom' },
            actionBegin: ChatActionBegin,
            allowPaging: false,
            width: 'auto',
            columns: [
                { headerText: 'Name', width: 150, textAlign: 'Center', field: 'message.sender.email' },
                { headerText: 'Message', width: 300, field: 'message.content', textAlign: 'Left' }
            ]
        });
        chatGrid.appendTo('#chatGrid');
    }
    function OpenModal()
    {
        console.log("Open modal");
        $.ajax({
            type: 'GET',
            url: '/Dashboard/GetWorkItemRelations',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                response.forEach(function(element) {
                    console.log(element);
                    $("#WorkItemRelationsGrid").append("<option value=\""+element.id+"\">"+element.relationName+"</option>");
                });
               $('#WorItemsGridPanel').modal('show'); 
               var element = document.getElementsByClassName("modal-backdrop show");
                $(element).remove();
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
   //     $('#WorItemsGridPanel').modal('show'); 

    }

    function AddAssocuatedItem(id){
        var project = @projectId;

        
        var dto = {
            "WorkItemId": id,
            "CurrWorkItemId" : @WorkItemData.Id,
            "ProjectId" : project,
            "RelationType" :  $("#WorkItemRelationsGrid :selected").val(),
            "LinkedItems" : selectedChildren
        }
        console.log(dto);
         $.ajax({
            type: 'POST',
            url: '/Dashboard/ValidateSelectedItem',
            data: JSON.stringify(dto),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                if(response.valid === true)
                {

                    var wItemDTO = {
                            "WorkItemId" : response.workItemId,
                            "RelationShipId": response.relationshipId
                        };
                    selectedChildren.push(wItemDTO);
                    $("#listview-defholder").html("");
                    var res = "";
                    res += "<div id=\"listview-def\" tabindex=\"1\" >";

                    res += "<ul>";
                    response.workItem.forEach(element => 
                    {
                        if(element.workItemTypeId === 1)
                            res += "<li value=\"/Dashboard/EditWorkItem?projectId="+@projectId+"&&workItem="+element.id+"&returnUrl="+window.location.href+" \"><i class=\"fas fa-bug\" style=\"padding:3px;\" ></i>"+element.title+"</li>";
                        else if(element.workItemTypeId === 5)
                            res += "<li value=\"/Dashboard/EditWorkItem?projectId="+@projectId+"&&workItem="+element.id+"&returnUrl="+window.location.href+" \"><i class=\"fas fa-crown\"  style=\"padding:3px;\"></i>"+element.title+"</li>";
                        else if(element.workItemTypeId === 6)
                            res += "<li value=\"/Dashboard/EditWorkItem?projectId="+@projectId+"&&workItem="+element.id+"&returnUrl="+window.location.href+" \"><i class=\"fas fa-exclamation-triangle\"  style=\"padding:3px;\"></i>"+element.title+"</li>";
                        else if(element.workItemTypeId === 4)
                            res += "<li value=\"/Dashboard/EditWorkItem?projectId="+@projectId+"&&workItem="+element.id+"&returnUrl="+window.location.href+" \"><i class=\"fas fa-vial\"  style=\"padding:3px;\"></i>"+element.title+"</li>";
                        else if(element.workItemTypeId === 7)
                            res += "<li value=\"/Dashboard/EditWorkItem?projectId="+@projectId+"&&workItem="+element.id+"&returnUrl="+window.location.href+" \"><i class=\"fas fa-user-circle\"  style=\"padding:3px;\"></i>"+element.title+"</li>";
                        else if(element.workItemTypeId === 3)
                            res += "<li value=\"/Dashboard/EditWorkItem?projectId="+@projectId+"&&workItem="+element.id+"&returnUrl="+window.location.href+" \"><i class=\"fas fa-tasks\"  style=\"padding:3px;\"></i>"+element.title+"</li>";
                        else if(element.workItemTypeId === 2)
                            res += "<li value=\"/Dashboard/EditWorkItem?projectId="+@projectId+"&&workItem="+element.id+"&returnUrl="+window.location.href+" \"><i class=\"fas fa-cog\"  style=\"padding:3px;\"></i>"+element.title+"</li>";
                      
                    });
                    res += "</ul>";
                    res += "</div>";
                    $("#listview-defholder").html(res);

                    var listObj = new ej.lists.ListView();

                    //Render initialized ListView component
                    listObj.appendTo('#listview-def');
                    console.log(response);
                 }
                else
                {
                    alert("Item with ID" + id+ " Is already linked with the current work item please chose another item!");
                    for(var i = selectedChildren.length - 1; i >= 0; i--) {
                        if(selectedChildren[i].WorkItemId === id) {
                            selectedChildren.splice(i, 1);
                        }
                    }
                }
                $("#ModalAdd").show();
                $("#ModalSelect").hide();
                $("#WorItemsGridPanel").modal('hide');
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
        console.log(selectedChildren);
    }
    function ItemSelected(args){
        console.log(args);
        assignedUser = args.itemData.id;
    }
    function InitiliazeComboBox(data){
        console.log(data);
         var listObj = new ej.dropdowns.ComboBox({
        //set the data to dataSource property
            dataSource: data,
            // By default, its enabled. For your better understanding, showcase this property.
            allowCustom: true,
            select : ItemSelected,
            value: "@WorkItemData.AssignedAccountNavigation.Email",

            // maps the appropriate column to fields property
            fields: { value: 'email' },
            // set placeholder to ComboBox input element
            placeholder: "Assign to user"});
            listObj.appendTo('#ProjectUsers');
    }

    function OpenDiagram()
    {
        $("#WorkItemChildren").show();
    }

 
    function AddNewWorkItem(){
         var id = @projectId;
         var workItemTypeId = @WorkItemType;
         console.log($("#ItemReason :selected").val()); // The value of the selected option

          var dto = {
            "WorkItemId" : @WorkItemData.Id,
            "WorktItemType" : workItemTypeId,
            "Title": $("#Title").val(),
            "ProjectId" : id,
            "AssignedUser" :assignedUser,
            "Description" : $("#Description").val(),
            "AcceptanceCriteria": $("#AcceptanceCriteria").val(),
            "State" :  ItemState.value,
            "ItemReason" :  ItemReason.value,
            "ItemArea" : ItemArea.value,
            "ItemIteration" : ItemIteration.value,
            "ItemPriority" : ItemPriority.value,
            "ItemSeverity" : ItemSeverity.value,
            "ItemActivity" : ItemActivity.value,
            "FoundInBuild" :ItemFoundBuild.value,
            "ResolvedInBuild" : ItemResolvedBuild.value,
            "RepoSteps" : $("#RepoSteps").val(),
            "SystemInfo" : $("#SystemInfo").val(),
            "OriginalEstimate" : $("#OriginalEstimate").val(),
            "ItemRemaining" : $("#ItemRemaining").val(),
            "ItemCompleated" : $("#ItemCompleated").val(),
            "Effort" :  $("#Effort").val(),
            "RiskId" : $("#Risk :selected").val(),
            "BusinessValue":  $("#BValue").val(),
            "TimeCriticality" : $("#TimeCriticality").val(),
            "StartDate" : startDate,
            "EndDate" : endDate,
            "ValueAreId" :  ValueArea.value,
            "DueDate" : dueDateVal,
            "Rank" :$("#Rank").val() ,
            "StoryPoints" : $("#StoryPoints").val(),
            "SelectedChildren" : selectedChildren
        }
        if($("#Description").val() !== undefined)
            dto.Description = $("#Description").children()[0].innerHTML;
        if($("#AcceptanceCriteria").val() !== undefined)
            dto.AcceptanceCriteria = $("#AcceptanceCriteria").children()[0].innerHTML;
        if($("#RepoSteps").val() !== undefined)
            dto.RepoSteps =  $("#RepoSteps").children()[0].innerHTML;
        if($("#SystemInfo").val() !== undefined)
            dto.SystemInfo = $("#SystemInfo").children()[0].innerHTML;
        console.log(dto);
        if($("#Title").val()) {
            $.ajax({
                type: 'POST',
                url: '/Dashboard/UpdateWorkItem',
                data: JSON.stringify(dto),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    window.location.href = "@ReturnPath";
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        else
        {
            alert("Please fill in the title of the current work item!");
        }   
    }

    function  LoadWorkItemsGrid()
    {
          $.ajax({
            type: 'GET',
            url: '/Dashboard/GetAllWorkItems?projectId=@projectId',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                 var grid = new ej.grids.Grid({
                    dataSource: response,
                    recordDoubleClick: WorkItemGridDoubleClicked,
                    columns: [
                        { field: 'id', headerText: 'ID', width: 60, textAlign: 'Right' },
                        { field: 'title', headerText: 'Title', width: 150 },
                        { field: 'itemState', headerText: 'State', width: 130, format: 'yMd', textAlign: 'Right' },
                        { field: 'itemType', width: 120, format: 'Type', textAlign: 'Right' }
                    ]
                });
                grid.appendTo('#WorkItemsGrid');
            },
            error: function (xhr, status, error) {
                console.log(xhr);
            }
        });
    }

    function WorkItemGridDoubleClicked(args)
    {
  
        AddAssocuatedItem(args.rowData.id);
        
    }

    function GoBack()
    {
        window.location.href = "@ReturnPath";
    }

    function tabSelected(args)
    {
        console.log(args);
    }

    function SendMessage()
    {
        var messagesDto= {
            "ProjectId":@projectId,
            "WorkItemId": @WorkItemData.Id,
            "Message": $("#ChatMessageBar").children()[0].innerHTML
        }
        console.log(messagesDto);
         $.ajax({
            type: 'POST',
            url: '/Dashboard/WorkItemAddMessage',
            data: JSON.stringify(messagesDto),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            
            success: function (response) {
                console.log(response);

                chatGrid.addRecord(response);
                chatGrid.refresh(); // refresh the Grid.
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    function ChatActionBegin(args) {
        if (args.requestType === 'save') {
            chatGrid.dataSource.shift();// Remove the newly added record from first position 
            chatGrid.dataSource.push(args.data)// Push the newly added record in data source 
            chatGrid.refresh(); // refresh the Grid.
            $("#ChatMessageBar").children()[0].innerHTML = "";
        }

     
    }

</script>
<style>
    #listview-def,
    #listview-grp {
        border: 1px solid #dddddd;
        border-radius: 3px;
    }

    @@media screen and (max-width: 590px) {
        #flat-list,
        #group-list {
            width: 100%;
        }
    }


    
</style>